node_modules
.idea
.DS_Store

/secret/

/secret/.template
/secret/.md

/lab5-godata/zip_code_database.csv

# ignore all files in any directory named `secret`
**/secret/*

# except files ending in `.template` or `.md`
!**/secret/*.template
!**/secret/*.md

# ignore .vagrant directory
.vagrant

# and the VSCode typings directory
typings

# ignore .key files
*.key
